@import "../../styles/variables";
.aboutMe {
    img {
        width: 20px;
    }
    .title {
        font-size: 18px;
        font-weight: 500;
        color: #959393;
    }
    .aboutMeContent {
        label {
            position: absolute;
            top: 15px;
            left: 15px;
            background: #fafafa;
            width: 96%;
        }
        textarea {
            padding: 50px 15px 15px;
            border: none;
            background: #fafafa;
            &:focus {
                background: #ffffff;
                box-shadow: none;
                ~label {
                    background-color: #ffffff;
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}