@import '../../styles/variables';

.dividerText {
  position: relative;
  top: -14px;
  padding: 0px 10px;
  color: #00c2cb;
}
.uploadImages{
  visibility: hidden;

}
.uploadButton{
  width: 300px;
  height: 80px; 
  background-color: #F0FBFC;
  color: #00c2cb;
  margin-bottom: 4%;
  border-radius: 16px;
  &:hover {
    background-color:#00c2cb;
    border-color:#00c2cb; ;
  }
  
}

.modal{
  width: 1350px;
  max-width: 1485px;
}
.bsHeader{
  border: none;
}
.content{
  border-radius: 14px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.14);
  padding-bottom: 40px;

}