
@import '../../styles/variables';

.container {
 
  // min-height: 397px;
  width: 100%;
  height:100%;
  // max-height: 397px;
  // overflow-y: scroll;
  margin: 9px 0px 8.2px 0px;
  box-shadow: 5px 3px 18px 0 #dbdbdb;
  background-color: #fff;
  // padding: 38.5px 30.3px 31.5px 26.7px;
  padding: 38.5px 30.3px 2.5px 26.7px;


  h3 {
    // font-size: 22px;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: map-get($theme-colors, primary);
    margin-bottom: 5%;
  }
  .spacing{
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom:35px ;
    flex: 0 0 50%;
    max-width: 50%;
    @media (min-width: 1800px){
      flex: 0 0 50%;
      max-width: 33%;
  }
}
  .addItem {
    // max-width: 156px;
    // max-height: 100px;
    width: 100%;
    height: 100%;
    border: 1px dashed map-get($theme-colors, primary);
    background-color: #ecfbfc;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
    .additemInner {
      display: flex;
      flex-direction: column;
      align-items: center;
      // min-height: 100px;
      justify-content: center;
      position: relative;
    }
    .addAllergy {
   
      
      margin: 0px;
      margin-top: 4px;
      font-size: 12px;
      font-family: Poppins;
      font-size: 12px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.12px;
      text-align: left;
      color: map-get($theme-colors, primary);
    }

    border-radius: 10px;
  }

  .item {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    margin-top: 10px;
    box-shadow: 5px 6px 18px 0 rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    // p {
    //   margin: 0px;
    //   margin-top: 4px;
    //   font-size: 12px;
    //   color: #000000;
    //   font-weight: bold;
    // }

  }
  .addIcon {
    cursor: pointer;
    width: 24px;
  }
  .itemInner {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // // min-height: 100px;
    // justify-content: center;
    position: relative;
    padding-left: 16px;
    padding-top: 37px;
    padding-bottom:10px ;
.justify
{
  display: flex;
  justify-content: space-between;
}
  
    .emojiContainer{
      width: 38px;
      height: 40px;
      padding: 10px 8px 9px 6px;
      background-color: #D3FAFF;
      position: absolute;
      top: -20px;
      left: 16px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      .emoji{
        font-size: 30px;
      }
    }
    .icon{
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding-right: 15px;
      .editIcon {
        width: 16px;
        cursor: pointer;
    }
    }
    .generalCheckup{
      width: 160px;
      height: 20px;
      margin: 0 5px 6px 0;
      font-family: Poppins;
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.57;
      letter-spacing: normal;
      text-align: left;
      color: #262c3d;
     
    }
    .GeneralCheckupDescription {
      width: 140px;
      height: 16px;
      margin: 6px 0 0;
      font-family: Avenir;
      font-size: 12px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #747f9e;
      margin-top: 3px;
    }
  }
}
