@import "../../styles/variables";
.scheduleListingCard {
    .appointmentTimeItems {
        span {
            color: map-get($theme-colors, primaryTextColor);
            padding: 12px 10px 8px;
            border-radius: 5px;
            border: solid 0.5px #f7f7fc;
            background-color: #f7f7fc;
            width: 31%;
            display: inline-block;
            text-transform: uppercase;
            &.selected {
                background-color: map-get($theme-colors, primary);
                border-color: map-get($theme-colors, primary);
                color: #ffffff;
            }
            &:hover {
                background-color: map-get($theme-colors, primary);
                border-color: map-get($theme-colors, primary);
                color: #ffffff;
                cursor: pointer;
            }
        }
        &.scheduleTime {
            span {
                background: #ecfbfc;
                border-color: #ecfbfc;
                &:hover {
                    background-color: map-get($theme-colors, primary);
                    border-color: map-get($theme-colors, primary);
                    color: #ffffff;
                    cursor: pointer;
                }
            }
        }
    }
}