@import "../../../styles/variables";
@import "../../../styles/forms.scss";

.resendCode {
  h6 {
    color: map-get($theme-colors, secondary);
    cursor: pointer;
    font-size: 14px;
    position: relative;
    right: 0px;
    bottom: 20px;
  }
}

.verificationCode {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: map-get($theme-colors, primaryTextColor);
  margin-bottom: 20px;
  a {
    color: map-get($theme-colors, secondary);
  }
}
