@import '../../styles/variables';
.patients {
  .profileStatus {
    h1 {
      font-size: 28px;
      vertical-align: top;
    }
    h6 {
      color: map-get($theme-colors, primary);
    }
  }
  .paginationArrows {
    .arrowIcons {
      width: 20px;
      cursor: pointer;
    }
  }
  .patientTitle {
    font-size: 28px;
    font-weight: 600;
    vertical-align: top;
    img {
      width: 24px;
    }
    .patientStatus {
      border: 1px solid #008000;
      padding: 6px 14px;
      border-radius: 8px;
      font-size: 14px;
      margin-left: 20px;
      color: #008000;
    }
  }
  .patientsListItem {
    border-radius: 5px;
    background-color: #f5f6f8;
    height: 100%;
    padding: 25px;
    &.addNew {
      cursor: pointer;
      border: 2px dashed #c8c0c0;
      background-color: #ffffff;
      height: 350px;
      img {
        width: 60px;
        margin: 0 auto;
      }
      h2 {
        font-size: 20px;
        max-width: 190px;
        line-height: 1.5;
      }
    }
  }
}
